.DS_Store

*.opensdf
*.sdf
*.suo
*.vcxproj.user

ipch/
Debug/
Release/

*.sublime-project
*.sublime-workspace

output.bmp

exercises/DeviceInfo/deviceinfo
exercises/Bilateral/bilateral-c
exercises/Bilateral/bilateral-c++
exercises/HostDevTransfer/transfer
exercises/NBody-GL/nbody
exercises/NBody/nbody
solutions/Bilateral/bilateral
solutions/HostDevTransfer/transfer
solutions/NBody-GL-VBO/nbody
solutions/NBody-GL/nbody
solutions/NBody/nbody
slides/~$advanced_part1.pptx
