.DS_Store

*.opensdf
*.sdf
*.suo
*.vcxproj.user

ipch/
Debug/
Release/

*.sublime-project
*.sublime-workspace

output.bmp

exercises/DeviceInfo/deviceinfo-c
exercises/DeviceInfo/deviceinfo-c++
exercises/VAdd-C/vadd
exercises/MatMul/matmul-c
exercises/MatMul/matmul-c++
exercises/Bilateral/bilateral-c
exercises/Bilateral/bilateral-c++
exercises/HostDevTransfer/transfer
exercises/NBody-GL/nbody
exercises/NBody/nbody
solutions/VAdd_Chain/vadd-c
solutions/VAdd_Chain/vadd-c++
solutions/Bilateral/bilateral_meta-c
solutions/Bilateral/bilateral_meta-c++
solutions/Bilateral/bilateral_opt-c
solutions/Bilateral/bilateral_opt-c++
solutions/Bilateral/bilateral_images-c
solutions/Bilateral/bilateral_images-c++
solutions/HostDevTransfer/transfer
solutions/NBody-GL-VBO/nbody
solutions/NBody-GL/nbody
solutions/NBody/nbody
slides/~$advanced_part1.pptx
