.DS_Store

*.opensdf
*.sdf
*.suo
*.vcxproj.user

ipch/
Debug/
Release/

*.sublime-project
*.sublime-workspace
.clang_complete

output.bmp

exercises/DeviceInfo/deviceinfo-c
exercises/DeviceInfo/deviceinfo-c++
exercises/VAdd-C/vadd
exercises/MatMul/matmul-c
exercises/MatMul/matmul-c++
exercises/Bilateral/bilateral-c
exercises/Bilateral/bilateral-c++
exercises/HostDevTransfer/transfer-c
exercises/HostDevTransfer/transfer-c++
exercises/NBody-GL/nbody-c
exercises/NBody-GL/nbody-c++
exercises/NBody-GL-VBO/nbody-c
exercises/NBody-GL-VBO/nbody-c++
exercises/NBody/nbody
solutions/VAdd_Chain/vadd-c
solutions/VAdd_Chain/vadd-c++
solutions/MatMul/matmul-c
solutions/MatMul/matmul-c++
solutions/Bilateral/bilateral_meta-c
solutions/Bilateral/bilateral_meta-c++
solutions/Bilateral/bilateral_opt-c
solutions/Bilateral/bilateral_opt-c++
solutions/Bilateral/bilateral_images-c
solutions/Bilateral/bilateral_images-c++
solutions/HostDevTransfer/transfer-c
solutions/HostDevTransfer/transfer-c++
solutions/NBody-GL-VBO/nbody-c
solutions/NBody-GL-VBO/nbody-c++
solutions/NBody-GL/nbody-c
solutions/NBody-GL/nbody-c++
solutions/NBody/nbody
slides/~$advanced_part1.pptx
exercises/Pi/pi
solutions/Pi/pi_ocl
exercises/VAdd/vadd-c
exercises/VAdd/vadd-c++
